Repository Joyuv/projetopsi2, changes with the labels that .github/labeler.yml gives for each.
All labels: feature, bug, frontend, infra, documentation

requirements e init do flask
  app.py
  requirements.txt
Labels: feature, documentation

paginas basicas adicionadas
  templates/base.html
  templates/cadastro_usuario.html
  templates/login.html
  templates/navbar.html
  templates/produtos.html
Labels: feature, frontend

tudo
  app.py
  models/__init__.py
  requirements.txt
  static/style.css
  templates/cadastrar_produto.html
  templates/editar.html
  templates/index.html
  templates/navbar.html
  templates/produtos.html
Labels: feature, frontend, documentation

Create README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

.github/labeler.yml:

feature:
  - changed-files:
    - any-glob-to-any-file:
      - "app.py"
      - "templates/**"
bug:
  - changed-files:
    - any-glob-to-any-file:
      - "tests/**"
frontend:
  - changed-files:
    - any-glob-to-any-file:
      - "static/**"
      - "templates/**"
infra:
  - changed-files:
    - any-glob-to-any-file:
      - ".github/**"
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - "requirements.txt"
      - "README.md"
